<!-- <div
  style="
    background-color: blanchedalmond;
    padding: 50px;
    width: 500px;
    height: 500px;
    min-width: 300px;
    min-height: 500px;
    max-height: 500px;
  "
>
 
</div> -->

<mat-card style="margin: 100px">
  <div style="text-align: center">
    <p style="font-size: large">
      Minting for Wicked Loot has shifted to
      <a style="color: rosybrown" href="https://mint-wicked-loot.vercel.app/">
        <code>https://mint-wicked-loot.vercel.app/</code></a
      >
    </p>
  </div>
</mat-card>
