<h1 style="text-align: center; font-family: Special Elite; padding-top: 10px">
  The Wicked Cranium Gods Auction with Sandclock and UNICEF
</h1>
<mat-card style="margin: 10px">
  <div style="text-align: center">
    <p style="font-size: large">
      <img height="350px" src="../../assets/auction-banner.jpeg" />
    </p>
  </div>
</mat-card>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Info">
    <div style="width: 100vw; text-align: center">
      <br />
      <p>Coming Soon!</p>
    </div>
  </mat-tab>
  <mat-tab label="Earth God">
    <div style="width: 100vw; text-align: center">
      <mat-card>
        <img height="300px" src="../../assets/earthgod.jpeg" />
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Air God">
    <div style="width: 100vw; text-align: center">
      <mat-card>
        <img height="300px" src="../../assets/airgod.jpeg" />
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Fire God">
    <div style="width: 100vw; text-align: center">
      <mat-card>
        <img height="300px" src="../../assets/firegod.jpeg" />
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- <mat-card style="margin: 100px">
  <div style="text-align: center">
    <p style="font-size: large">
      <img src="../../assets/airgod.jpeg" />
    </p>
  </div>
</mat-card> -->
